.form {
  margin: auto;
  padding: 34px 36px 37px 36px;
  display: flex;
  flex-direction: column;
  width: 430px;
  background-color: #FFFFFF;
  border-radius: 10px;
  border: 0;
  box-sizing: border-box;
  position: absolute;
  top: -180px;
  right: -212px;
}

@media screen and (max-width: 527px) {
  .form {
    width: 282px;
    padding: 25px 22px 25px 22px;
    top: -123px;
    right: 18px;
  }
}
