.form {
  margin: 0;
  padding: 34px 36px 37px 36px;
  display: flex;
  flex-direction: column;
  border: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 527px) {
  .form {
    padding: 25px 22px 25px 22px;
  }
}
