.form__button {
    margin: 0;
    padding: 0;
    display: flex;
    border: 0;
    width: 100%;
    min-height: 50px;
    background: #000000;
    border-radius: 2px;
    justify-content: center;
    cursor: pointer;
    margin-top: 18px;
    font-family: 'Inter', 'Helvatica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    align-items: center;
    color: #fff;
    transition: background-color linear .5s;
  }

  .form__button:hover {
    background-color: rgb(0,0,0, 0.8);
  }

  @media screen and (max-width: 527px) {
    .form__button {
      min-height: 46px;
      margin-top: 15px;
      font-size: 14px;
      line-height: 17px;
    }
  }
