.profile {
  margin: 0;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 51px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 904px) {
  .profile {
    justify-content: space-around;
  }
}

@media screen and (max-width: 716px) {
  .profile {
    flex-direction: column;
  }
}

@media screen and (max-width: 545px) {
  .profile {
    margin: 38.25px 20px 36px 20px;
  }
}
