.card__bottom {
  margin: 0;
  padding: 0;
  padding-left: 21px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: white;
  height: 79px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
