.add-button {
  display: flex;
  width: 150px;
  height: 50px;
  justify-self: center;
  align-self: center;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  transition: opacity linear .3s;
  background-image: url('../../images/pluse.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 545px) {
  .add-button {
    width: 100%;
    background-size: 16px 16px;
  }
}
