.popupImg {
  margin: 0;
  padding: 0;
  display: none;
  height: 100vh;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgb(0, 0, 0, .5);
  z-index: 20;
  opacity: 0;
  animation: slowShow .5s forwards;
}

  @keyframes slowShow {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
