.avatar__edit {
  margin: 0;
  padding: 0;
  grid-area: pencil;
  display: flex;
  width: 24px;
  height: 24px;
  margin-bottom: 8px;
  justify-self: center;
  align-self: end;
  justify-content: center;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  transition: opacity linear .3s;
  background-image: url('../../../images/pencil.svg');
  background-size: 10px 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  outline: none;
}

.avatar__edit:hover {
  opacity: 0.6;
}


@media screen and (max-width: 545px) {
  .avatar__edit {
    width: 18px;
    height: 18px;
    margin-bottom: 20px;
    margin-left: 10px;
    background-size: 5.25px 5.25px;
  }
}
