.popupImg__container {
  margin: 0 auto;
  padding: 0;
  display: flex;
  border-radius: 10px;
  border: 0;
  flex-direction: column;
  background-color: transparent;
  position: relative;
  box-sizing: border-box;
  gap: 10px
}

