.add-button {
  display: flex;
  max-width: 150px;
  width: 100%;
  height: 50px;
  justify-self: center;
  align-self: center;
  border: none;
  transition: opacity linear 0.3s;
  background-image: url("../../images/pluse.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  margin-right: 0;
  transition: margin-right 2s ease-in-out, width 2s ease-in-out;
  animation: scaleButton 3s forwards;
  box-sizing: border-box;
}

.add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 545px) {
  .add-button {
    width: 100%;
    background-size: 16px 16px;
  }
}
