.popupImg__close {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  width: 32px;
  height: 32px;
  justify-self: end;
  align-self: end;
  background-color: transparent;
  background-image: url('../../../images/cross.svg');
  background-size: 32px 32px;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: opacity linear .3s;
  border: 0;
  outline: none;
  position: absolute;
  right: -40px;
  top: -40px;
}

.popupImg__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 575px) {
  .popupImg__close {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    right: 0;
    top: -37px;
  }
}

