.form__content {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  border: 0;
  border-bottom: solid 1px rgb(0,0,0, .2);
  padding-bottom: 7px;
  font-family: 'Inter', 'Helvatica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  align-self: stretch;
  outline: none;
  background-color: transparent;
}
