.cross {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  width: 32px;
  height: 32px;
  justify-self: end;
  border: none;
  align-self: end;
  background: transparent;
  background-image: url('../../images/cross.png');
  background-size: 32px 32px;
  cursor: pointer;
}
