/*Подключение normalize.css*/
@import url(../vendor/normalize.css);

/*Подключение шрифтов*/
@import url(../vendor/fonts.css);

/*Задание стилев page*/
@import url(../blocks/page/page.css);

/*Секция header*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

/*Секция profile*/
@import url(../blocks/profile/profile.css);

/*Блок avatar*/
@import url(../blocks/avatar/avatar.css);
@import url(../blocks/avatar/__image/avatar__image.css);
@import url(../blocks/avatar/__title/avatar__title.css);
@import url(../blocks/avatar/__subtitle/avatar__subtitle.css);
@import url(../blocks/avatar/__edit/avatar__edit.css);

/*Блок subscribe-button*/
@import url(../blocks/add-button/add-button.css);

/*Секция cards*/
@import url(../blocks/cards/cards.css);

/*Блок card*/
@import url(../blocks/card/card.css);
@import url(../blocks/card/__bottom/card__bottom.css);
@import url(../blocks/card/__heart/card__heart.css);
@import url(../blocks/card/__heart/_active/card__heart_active.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__title/card__title.css);
@import url(../blocks/card/__trash/card__trash.css);

/*Секция footer*/
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__author/footer__author.css);

/*popup*/
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/_closed/popup_closed.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close/popup__close.css);

@import url(../blocks/form/form.css);
@import url(../blocks/form/__button/form__button.css);
@import url(../blocks/form/__heading/form__heading.css);
@import url(../blocks/form/__content/form__content.css);
@import url(../blocks/form/__content/_type/form__content_type_full-name.css);
@import url(../blocks/form/__content/_type/form__content_type_description.css);

/*popupImg*/
@import url(../blocks/popupImg/popupImg.css);
@import url(../blocks/popupImg/__close/popupImg__close.css);
@import url(../blocks/popupImg/__container/popupImg__container.css);
@import url(../blocks/popupImg/_closed/popupImg_closed.css);
@import url(../blocks/popupImg/_opened/popupImg_opened.css);
@import url(../blocks/popupImg/__photo/popupImg__photo.css);
@import url(../blocks/popupImg/__text/popupImg__text.css);
