.line {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid rgb(84, 84, 84, .7);
  animation: scaleLine 3s forwards;
}

@media screen and (max-width: 904px) {
  .line {
    padding-left: 27px;
  }
}

@keyframes scaleLine {
  0% {
    transform: scale(2);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
