.footer {
  margin: 0;
  padding: 0;
  margin-top: 67px;
  font-family: 'Inter', 'Helvatica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media screen and (max-width: 904px) {
  .footer {
    padding-left: 19px;
  }
}

@media screen and (max-width: 545px) {
  .footer {
    margin-top: 48px;
  }
}
