.card__heart {
  margin:0;
  padding: 0;
  cursor: pointer;
  height: 32px;
  width: 32px;
  align-self: center;
  z-index: 1;
  transition: opacity linear .3s;
  background-image: url('../../../images/heart.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  margin-left: 24px;
  border: 0;
  outline: none;
}

.card__heart:hover {
  opacity: .5;
}

