.popup__container_type_image {
  display: flex;
  border-radius: 10px;
  border: 0;
  flex-direction: column;
  background-color: transparent;
  position: relative;
  box-sizing: border-box;
  gap: 10px;
}

